<div class="row blog-header">
  <div class="col-sm-6">
    <div class="col-4 pt-1">
      <a class="blog-header-logo text-dark" href="#">
        <img src="../../assets/Images/1.png" alt="" />
      </a>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your username"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
      <input
        type="text"
        class="form-control"
        type="password"
        placeholder="Password"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        style="margin-left: 2%"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          Login
        </button>
      </div>
      <a class="btn btn-sm btn-primary" href="#">New Register</a>
    </div>
  </div>
</div>
<div class="nav-scroller py-1 mb-2 blog-header">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" routerLink="/home" routerLinkActive="active"
      >Home</a
    >
    <a class="p-2 text-muted" routerLink="/aboutus">About Us</a>
    <a class="p-2 text-muted" routerLink="/searchyoumatch">Free search</a>
    <a
      class="p-2 text-muted"
      routerLink="/registration"
      routerLinkActive="active"
      >Free Registration</a
    >
    <a class="p-2 text-muted" routerLink="/members" routerLinkActive="active"
      >Members</a
    >
    <a class="p-2 text-muted" routerLink="/onlinePayment">Online Payments</a>
    <a class="p-2 text-muted" routerLink="/login">Member Login</a>
    <a class="p-2 text-muted" routerLink="/contactUs">Contact Us</a>
  </nav>
</div>
