<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" type="text/css" href="../../assets/util.css" />
<link rel="stylesheet" type="text/css" href="../../assets/main.css" />
<div class="container-fluid footer-section bg-light">
  <div class="row " style="text-align: center">
    <div class="col-sm-3">
      <h5>Site Map</h5>
      <hr />
      <p>Refund Policy</p>
      <p>Terms and condition</p>
    </div>
    <div class="col-sm-3">
      <h5>Information</h5>
      <hr />
      <p>FAQ's</p>
      <p>About Us</p>
      <p>Succes Stories</p>
    </div>
    <div class="col-sm-3">
      <h5>Our Services</h5>
      <hr />
      <p>Advertise With us</p>
      <p>Wedding Planner</p>
    </div>
    <div class="col-sm-3">
      <h5>Need Help</h5>
      <hr />
      <p>Contact Us</p>
    </div>
  </div>
  <div class="row aboutdeveloper">
    <div class="col-sm-6">
      <p>
        © 2019 Sbvmatrimony. All Rights Reserved | Developed by
        <a href="#" target="_blank">Abdul Jamal Basha K</a>
      </p>
    </div>
    <div class="col-sm-6 float-right">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>
</div>
