<div class="container" style="background-color:#bfbebe;padding:2%" #pdfcontent>
  <!-- <h4>CASTE : {{ user.religion }}</h4> -->

  <img
    src="../../../assets/Images/banner.jpg"
    width="100%"
    height="175px"
    alt="sbvMatrimony Logo"
  />
  <br />

  <table style="margin-left:20%">
    <tbody>
      <tr>
        <td>
          <tr>
            <td><label for="">Name</label></td>
            <td>{{ userdetail.fullname }}</td>
          </tr>
          <tr>
            <td><label for="">D.O.B & Age</label></td>
            <td>: {{ userdetail.birthTime + " (" + userdetail.age + ")" }}</td>
          </tr>
          <tr>
            <td><label for="">Qualification</label></td>
            <td>: {{ userdetail.qualificaton }}</td>
          </tr>
          <tr>
            <td><label for="">Work</label></td>
            <td>: {{ userdetail.occupation }}</td>
          </tr>
          <tr>
            <td><label for="">Martial Status</label></td>
            <td>: {{ userdetail.maritalStatus }}</td>
          </tr>
          <tr>
            <td><label for="">Father's Name</label></td>
            <td>: {{ userdetail.fathername }}</td>
          </tr>
          <tr>
            <td><label for="">Mother's Name</label></td>
            <td>: {{ userdetail.mothername }}</td>
          </tr>
          <tr>
            <td><label for="">Family Status</label></td>
            <td>Need to add this parameter</td>
          </tr>
          <tr>
            <td><label for="">Rasi/Star/Lagnam</label></td>
            <td>
              :
              {{
                userdetail.rasi +
                  "/" +
                  userdetail.star +
                  "/" +
                  userdetail.lagnam
              }}
            </td>
          </tr>
          <tr>
            <td><label for="">Brothers</label></td>
            <td>
              <table
                border="1px"
                cellpadding="5"
                style="border-collapse: collapse; text-align: center"
              >
                <tr>
                  <td colspan="2">Brother</td>
                  <td>Martial status</td>
                </tr>
                <tr>
                  <td>Elder</td>
                  <td>{{ userdetail.sibblingsMale }}</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Younger</td>
                  <td>0</td>
                  <td>{{ userdetail.marriedSibblingsMale }}</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><label for="">Sisters</label></td>
            <td>
              <table
                border="1px"
                cellpadding="5"
                style="border-collapse: collapse; text-align: center"
              >
                <tr>
                  <td colspan="2">Sisters</td>
                  <td>Martial status</td>
                </tr>
                <tr>
                  <td>Elder</td>
                  <td>{{ userdetail.sibblingsFemale }}</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Younger</td>
                  <td>0</td>
                  <td>{{ userdetail.marriedSibblingsFemale }}</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><label for="">Addres</label></td>
            <td>: {{ userdetail.address }}</td>
          </tr>
          <tr>
            <td><label for="">Phone</label></td>
            <td>: {{ userdetail.phone1 }}</td>
          </tr>
        </td>

        <td colspan="14">
          <img
            class=" img-fluid"
            [src]="serverdomain + userdetail.userImage"
            alt="card image"
            height="100%"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div
            class="col-md-12 divborder1"
            style="margin-top: 1em;text-align:center;"
          >
            <div class="row">
              <div class="col-md-2 divborder1"></div>
              <div class=" col-xs-6 col-sm-6 col-md-4 divborder1 text-center">
                <table
                  border="1"
                  cellpadding="5"
                  style="border-collapse: collapse"
                  height="200"
                >
                  <tbody>
                    <tr>
                      <td height="50" width="50">{{ userdetail.ra1 }}</td>
                      <td height="50" width="50">{{ userdetail.ra2 }}</td>
                      <td height="50" width="50">{{ userdetail.ra3 }}</td>
                      <td height="50" width="50">{{ userdetail.ra4 }}</td>
                    </tr>
                    <tr>
                      <td height="50" width="50">{{ userdetail.ra5 }}</td>
                      <td height="100" colspan="2" rowspan="2" align="center">
                        ராசி
                      </td>
                      <td height="50" width="50">{{ userdetail.ra6 }}</td>
                    </tr>
                    <tr>
                      <td height="50" width="50">{{ userdetail.ra7 }}</td>
                      <td height="50" width="50">{{ userdetail.ra8 }}</td>
                    </tr>
                    <tr>
                      <td height="50" width="50">
                        {{ userdetail.ra9 }}
                      </td>
                      <td height="50" width="50">
                        {{ userdetail.ra10 }}
                      </td>
                      <td height="50" width="50">
                        {{ userdetail.ra11 }}
                      </td>
                      <td height="50" width="50">
                        {{ userdetail.ra12 }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class=" col-xs-12 col-sm-6 col-md-4 divborder1 text-center">
                <table
                  border="1"
                  cellpadding="5"
                  style="border-collapse: collapse"
                  height="200"
                >
                  <tbody>
                    <tr>
                      <td>
                        {{ userdetail.f1 }}
                      </td>
                      <td>
                        {{ userdetail.f2 }}
                      </td>
                      <td>
                        {{ userdetail.f3 }}
                      </td>
                      <td>
                        {{ userdetail.f4 }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ userdetail.f5 }}
                      </td>
                      <td height="100" colspan="2" rowspan="2" align="center">
                        அம்சம்
                      </td>
                      <td>
                        {{ userdetail.f6 }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ userdetail.f7 }}
                      </td>
                      <td>
                        {{ userdetail.f8 }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{ userdetail.f9 }}
                      </td>
                      <td>
                        {{ userdetail.f10 }}
                      </td>
                      <td>
                        {{ userdetail.f11 }}
                      </td>
                      <td>
                        {{ userdetail.f12 }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-2 divborder1"></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
