

<!-- 
<div class="row sbvbanner"></div> -->



<ngb-carousel >
    <ng-template ngbSlide>
      <img class="bannerimg" src="../../assets/Images/banner.jpg" alt="">
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
        <img class="bannerimg" src="../../assets/Images/hands.jpg" alt="">       
      </ng-template>

      <ng-template ngbSlide>
          <img class="bannerimg" src="../../assets/Images/banner1.jpg" alt="">         
        </ng-template>

        <ng-template ngbSlide>
            <img class="bannerimg" src="../../assets/Images/banner2.jpg" alt="">         
          </ng-template>
          <ng-template ngbSlide>
              <img class="bannerimg" src="../../assets/Images/banner3.jpg" alt="">         
            </ng-template>
            <ng-template ngbSlide>
                <img class="bannerimg" src="../../assets/Images/banner4.jpg" alt="">         
              </ng-template>
              <ng-template ngbSlide>
                  <img class="bannerimg" src="../../assets/Images/banner5.jpg" alt="">         
                </ng-template>
  </ngb-carousel>