<div class="container-fluid register">
    <div class="row" style="opacity: 0.8">
        <div class="col-md-3 register-left">           
            <div class="col-sm-12 divborder1">
                <h3>வெற்றியின் சேவைகள்</h3>
                <ul class="log" style="font-size: 14px; text-align: left; margin:0px">
                    <li>தமிழில் வரன்களின் விபரம்</li>
                    <li>ஜாதக கட்டங்கள், புகைபடம்</li>
                    <li>அனைத்து இனத்தவருக்கும் சேவை</li>
                    <li>எந்த விதமான மறைமுக கட்டணமும் இல்லை</li>
                    <li>பல்லாயிரக்கணக்கான வரன்கள் உள்ளன</li>
                </ul>
            </div>        
        </div>
        <div class="col-md-9 register-right">      
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Free Search</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>I am Looking For</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>                                   
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Age From</option>                                
                                    <option value="18">18</option>
                                    <option value="19">19</option>                              
                                </select>
                            </div>
                           
                            <div class="form-group">
                                    <select class="form-control">
                        
                                            <option class="hidden"  selected disabled>Select Mother Tongue</option>
                                                                                                       <option value="17">Aka</option>
                                                                                                                                  <option value="56">Arabic</option>
                                                                                                                                  <option value="18">Assamese</option>
                                                                                                                                  <option value="19">Awadhi</option>
                                                                                                                                  <option value="10">Bengali</option>
                                                                                                                                  <option value="20">Bhojpuri</option>
                                                                                                                                  <option value="21">Bhutia</option>
                                                                                                                                  <option value="22">Chatlisgarhi</option>
                                                                                                                                  <option value="23">Chinese</option>
                                                                                                                                  <option value="24">Dogri</option>
                                                                                                                                  <option value="5">English</option>
                                                                                                                                  <option value="25">French</option>
                                                                                                                                  <option value="26">Garhwali</option>
                                                                                                                                  <option value="27">Garo</option>
                                                                                                                                  <option value="67">Gondi</option>
                                                                                                                                  <option value="3">Gujarati</option>
                                                                                                                                  <option value="28">Haryanvi</option>
                                                                                                                                  <option value="58">Hindi</option>
                                                                                                                                  <option value="29">Kakbarak</option>
                                                                                                                                  <option value="30">Kanauji</option>
                                                                                                                                  <option value="11">Kannada</option>
                                                                                                                                  <option value="31">Kashmiri</option>
                                                                                                                                  <option value="32">Khandesi</option>
                                                                                                                                  <option value="33">Khasi</option>
                                                                                                                                  <option value="13">Konkani</option>
                                                                                                                                  <option value="34">Koshali</option>
                                                                                                                                  <option value="35">Kumoani</option>
                                                                                                                                  <option value="36">Kutchi</option>
                                                                                                                                  <option value="37">Lepcha</option>
                                                                                                                                  <option value="38">Magahi</option>
                                                                                                                                  <option value="39">Maithili</option>
                                                                                                                                  <option value="40">Malay</option>
                                                                                                                                  <option value="9">Malayalam</option>
                                                                                                                                  <option value="7">Marathi</option>
                                                                                                                                  <option value="16">Marwari</option>
                                                                                                                                  <option value="41">Miji</option>
                                                                                                                                  <option value="42">Mizo</option>
                                                                                                                                  <option value="43">Monpa</option>
                                                                                                                                  <option value="44">Nepali</option>
                                                                                                                                  <option value="14">Oriya</option>
                                                                                                                                  <option value="54">Other</option>
                                                                                                                                  <option value="45">Persian</option>
                                                                                                                                  <option value="6">Punjabi</option>
                                                                                                                                  <option value="46">Rajasthani</option>
                                                                                                                                  <option value="47">Russian</option>
                                                                                                                                  <option value="48">Sanskrit</option>
                                                                                                                                  <option value="49">Santhali</option>
                                                                                                                                  <option value="55">Sindhi</option>
                                                                                                                                  <option value="12">Sindhi</option>
                                                                                                                                  <option value="50">Spanish</option>
                                                                                                                                  <option value="51">Swedish</option>
                                                                                                                                  <option value="52">Tagalog</option>
                                                                                                                                  <option value="1">Tamil</option>
                                                                                                                                  <option value="8">Telugu</option>
                                                                                                                                  <option value="63">Urduu</option>
                                                                                                  </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Religion</option>
                                    <option value="1">Hindu</option>
                                    <option value="2">Catholic</option>                                 
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Age To</option>                                
                                    <option value="18">18</option>
                                    <option value="19">19</option>                              
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Select Country</option> 
                                    <option value="245">Afganistan</option>
                                    <option value="12">Australia</option>
                                    <option value="11">Austria</option>
                                    <option value="15">Azerbaijan</option>
                                    <option value="30">Bahamas</option>
                                    <option value="22">Bahrain</option>
                                    <option value="18">Bangladesh</option>                                                                      
                                    <option value="215">United States</option>
                                    <option value="214">United States Minor Outlying Islands</option>                           
                                </select>
                            </div>                          
                            <!-- <input type="submit" class="btnRegister"  value="Find Match"/> -->
                            <button class="btn btn-sm btn-outline-primary" (click)="open(content)">Find Match</button>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>

</div>



<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Your Match</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-lg-4">
                          <img src="../../assets/Images/Jamal.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                          <h2>Abdul Jamal</h2>
                          <p>Myselft  Abdul Jamal I have completed MCA and now am working as a Software Engineer</p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                                <img src="../../assets/Images/jamal1.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                          <h2>Rasukutty</h2>
                          <p>Myself Rasukutty working as a Government Employee in Aadhar Department</p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                                <img src="../../assets/Images/jamal2.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">
                          <h2>Heading</h2>
                          <p>Donec sed odio dui. Cras justo odio, dapi.</p>
                          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                        </div><!-- /.col-lg-4 -->
                      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">close</button>
        </div>
      </ng-template>