<app-header></app-header>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5" id="pdfcontent" #pdfcontent>
  <div class="container">
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let user of usersDetail">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class=" img-fluid"
                      [src]="
                        serverdomain + user.userImage.replace('public', '')
                      "
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">{{ user.fullname }}</h4>
                  <p class="card-text">
                    {{ user.emailId }}
                    {{ user.age }} Yrs {{ 0.0328 * user.height }} ft - <br />{{
                      user.native
                    }}, {{ user.district }}
                  </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">{{ user.fullname }}</h4>
                  <p class="card-text">
                    {{ user.otherMessage }}
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        (click)="downloadFile($event)"
                      >
                        <i class="fa fa-download" id="{{ user.Id }}"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
<!-- Team -->
<app-footer></app-footer>
